body {
  margin: 0;
  padding: 0;
  color: #ccc;
  background: #000;
  overflow: hidden;
  font-family: Helvetica, sans-serif;
}

h1 {
  margin-top: 0;
  padding: 45px 30px;
  background: #222;
  font-size: 50px;
}

#select {
  margin-left: 30px;
  font-size: 30px;
}

#select li {
  margin-bottom: 20px;
}

#select button {
  margin-left: 5px;
  height: 30px;
}

#select button:first-letter {
  text-transform: uppercase;
}

#startup p {
  color: #888;
  margin-left: 30px;
  font-size: 13px;
}

#startup p a {
  color: #888;
  text-decoration: none;
  border: 1px dotted;
  padding: 2px;
  border-radius: 3px;
}

#theimage {
  width: 100%;
}
